body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding: 20px;
}

header {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    article {
        font-size: 0.9em;
    }
}